name: Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev # Just in case, though we don't use alsa. libc is standard.

      - name: Build
        run: cargo build --release --verbose

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/dantetimesync
          generate_release_notes: true
